openapi: 3.0.3
info:
  title: Kitsos Keys API
  description: >
    Self-service API for managing your own Kitsos API keys, effective limits,
    and limit increase requests. Administrative and analytics endpoints are
    documented exclusively in the Keys Admin API.
  version: "1.1.0"
servers:
  - url: https://keys.api.kitsos.net/v1

components:
  parameters:
    PageLimit:
      name: limit
      in: query
      schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
    PageOffset:
      name: offset
      in: query
      schema: { type: integer, default: 0, minimum: 0, maximum: 100000 }
  securitySchemes:
    clerkSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Clerk session JWT. Required for all self-service endpoints.
  schemas:
    App:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        environment: { type: string, enum: [production, staging, dev] }
        created_at: { type: integer }
    Group:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
    Policy:
      type: object
      properties:
        id: { type: string }
        app_id: { type: string }
        subject_type: { type: string, enum: [user, group] }
        subject_id: { type: string }
        scopes: { type: array, items: { type: string } }
        created_at: { type: integer }
    ApiKey:
      type: object
      properties:
        id: { type: string }
        user_id: { type: string }
        permissions:
          type: array
          minItems: 1
          maxItems: 20
          items: { $ref: '#/components/schemas/KeyPermission' }
        appId:
          type: string
          description: Compatibility field, present only for single-app keys.
        name: { type: string, nullable: true }
        description: { type: string, maxLength: 2000, nullable: true }
        status: { type: string, enum: [active, revoked, expired] }
        scopes:
          type: array
          maxItems: 100
          items: { type: string, maxLength: 100 }
          description: Compatibility field, present only for single-app keys.
        expires_at: { type: integer, nullable: true }
        last_used_at: { type: integer, nullable: true }
        created_at: { type: integer }
    ApiKeyCreated:
      type: object
      required: [id, key, permissions]
      properties:
        id: { type: string }
        key:
          type: string
          description: Raw API key — shown only once, at creation time.
        permissions:
          type: array
          items: { $ref: '#/components/schemas/KeyPermission' }
        expiresAt:
          type: integer
          description: Expiry time as a Unix timestamp when the key is temporary.
    KeyPermission:
      type: object
      required: [appId, scopes]
      properties:
        appId: { type: string, maxLength: 63 }
        scopes:
          type: array
          minItems: 1
          maxItems: 100
          items: { type: string, maxLength: 100 }
    UsageLimit:
      type: object
      properties:
        id: { type: string }
        user_id: { type: string }
        app_id: { type: string }
        limit_type: { type: string }
        limit_value: { type: integer }
        is_override: { type: boolean }
        created_at: { type: integer }
    EffectiveLimit:
      type: object
      required: [appId, limitType, limitValue, currentValue, remaining, maximumValue, daily]
      properties:
        appId: { type: string }
        limitType:
          type: string
          enum: [emails_per_day, mail_templates, mail_webhooks, hme_aliases, verified_resources, verification_attempts_per_day, api_keys]
        limitValue: { type: integer, minimum: 1 }
        currentValue: { type: integer, minimum: 0 }
        remaining: { type: integer, minimum: 0 }
        maximumValue: { type: integer, minimum: 1 }
        daily: { type: boolean }
    LimitIncreaseRequest:
      type: object
      properties:
        id: { type: string }
        user_id: { type: string }
        app_id: { type: string }
        limit_type: { type: string }
        requested_value: { type: integer }
        reason: { type: string, nullable: true }
        auth_method: { type: string, enum: [session, api_key, mcp], nullable: true }
        credential_id: { type: string, nullable: true }
        client_id: { type: string, nullable: true }
        status: { type: string, enum: [pending, approved, denied] }
    AuditLogEntry:
      type: object
      properties:
        id: { type: string }
        user_id: { type: string, nullable: true }
        app_id: { type: string, nullable: true }
        action: { type: string }
        result: { type: string, enum: [allowed, denied] }
        reason: { type: string, nullable: true }
        created_at: { type: integer }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string }

security:
  - clerkSession: []

paths:
  /health:
    get:
      summary: Health check
      security: []
      responses:
        "200": { description: OK }

  /me:
    get:
      summary: Get own user profile
      tags: [self-service]
      responses:
        "200": { description: OK }

  /me/limits:
    get:
      summary: Get effective product limits and current usage
      tags: [self-service]
      responses:
        "200":
          description: All adjustable limits, including their non-overridable maxima
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/EffectiveLimit' }

  /me/session-api-key:
    post:
      summary: Create a five-minute API Console key for one or more selected apps
      description: >
        Creates one short-lived multi-app key. Each app receives all catalog
        scopes currently granted to the signed-in user by policy. Any previous
        API Console session key for the user is revoked before the new key is
        issued. The raw key is returned only once.
      tags: [self-service]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appIds]
              properties:
                appIds:
                  type: array
                  minItems: 1
                  maxItems: 4
                  uniqueItems: true
                  items:
                    type: string
                    enum: [mail, hide-my-email, verify, utility]
      responses:
        "201":
          description: Five-minute session key created
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/ApiKeyCreated' }
                  - type: object
                    required: [expiresAt]
        "403":
          description: At least one selected app has no scopes granted by the user's policy
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429":
          description: Stored-key or hard creation-churn limit exceeded
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /me/api-keys:
    get:
      summary: List own API keys
      tags: [self-service]
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/ApiKey' } } } } }
    post:
      summary: Create an API key for yourself (scopes limited to what your policy already grants)
      tags: [self-service]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appId: { type: string, maxLength: 63 }
                name: { type: string, maxLength: 100 }
                description: { type: string, maxLength: 2000 }
                expiresAt:
                  type: integer
                  description: Optional expiry time as a Unix timestamp. Must be in the future and no more than 10 years away.
                scopes: { type: array, minItems: 1, maxItems: 100, items: { type: string, maxLength: 100 } }
                permissions:
                  type: array
                  minItems: 1
                  maxItems: 20
                  items: { $ref: '#/components/schemas/KeyPermission' }
              oneOf:
                - required: [permissions]
                - required: [appId, scopes]
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyCreated' }
        "403":
          description: None of the requested scopes are allowed by your policy
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429":
          description: Stored-key or hard creation-churn limit exceeded
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /me/api-keys/{keyId}:
    delete:
      summary: Revoke one of your own API keys
      tags: [self-service]
      parameters:
        - { name: keyId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }

  /me/api-keys/{keyId}/rotate:
    post:
      summary: Rotate one of your active API keys
      description: >
        Atomically replaces the key while preserving its multi-app permissions,
        name, description, expiry, and automatic-roll metadata. The old key is
        revoked and the new raw key is returned only once. This endpoint is
        unavailable through MCP delegation.
      tags: [self-service]
      parameters:
        - { name: keyId, in: path, required: true, schema: { type: string } }
      responses:
        "201":
          description: Rotated; save the returned raw key now
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyCreated' }
        "404": { description: Own active, unexpired key not found }
        "409": { description: The key changed concurrently or has no canonical app permissions }
        "429": { description: Hard daily key-creation churn limit exceeded }

  /me/limit-increase-requests:
    get:
      summary: List your own limit increase requests
      tags: [self-service]
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK }
    post:
      summary: Request a usage limit increase
      tags: [self-service]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, limitType, requestedValue]
              properties:
                appId: { type: string, maxLength: 63 }
                limitType:
                  type: string
                  enum: [emails_per_day, mail_templates, mail_webhooks, hme_aliases, verified_resources, verification_attempts_per_day, api_keys]
                requestedValue: { type: integer, minimum: 1, maximum: 10000 }
                reason: { type: string, maxLength: 2000 }
      responses:
        "201": { description: Created }
        "409": { description: A request for this limit is already pending }
        "429": { description: Five requests are already pending, or the hard limit of 10 submitted requests per UTC day was reached }

  /me/limit-increase-requests/{reqId}:
    delete:
      summary: Delete one of your pending limit increase requests
      description: Deleting a request does not restore the hard allowance of 10 submissions per UTC day.
      tags: [self-service]
      parameters:
        - { name: reqId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: Deleted }
        "404": { description: Request not found or not owned by the authenticated user }
        "409": { description: Approved or denied requests cannot be deleted }
