openapi: 3.0.3
info:
  title: Kitsos Keys API
  summary: Self-service API for Kitsos accounts and API keys.
  description: >
    Create and manage your own API keys and request usage-limit increases.
    Administrative platform endpoints are deliberately documented separately
    in the Kitsos Keys Admin API.
  version: "1.0.0"
  contact:
    name: Kitsos Support
    url: https://kitsos.net/contact
    email: support@services.kitsos.net
  license:
    name: Proprietary
    url: https://kitsos.net/terms
servers:
  - url: https://keys.api.kitsos.net/v1
    description: Production
externalDocs:
  description: Kitsos API documentation
  url: https://docs.api.kitsos.net
tags:
  - name: Default
    description: Service availability.
  - name: Self-service
    description: Manage your Kitsos account and API keys.
components:
  parameters:
    PageLimit:
      name: limit
      in: query
      schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
    PageOffset:
      name: offset
      in: query
      schema: { type: integer, default: 0, minimum: 0, maximum: 100000 }
  securitySchemes:
    clerkSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Clerk session JWT for the currently signed-in user.
  schemas:
    ApiKey:
      type: object
      properties:
        id: { type: string }
        user_id: { type: string }
        app_id: { type: string }
        name: { type: string, maxLength: 100, nullable: true }
        description: { type: string, maxLength: 2000, nullable: true }
        status: { type: string, enum: [active, revoked, expired] }
        scopes:
          type: array
          minItems: 1
          maxItems: 100
          items: { type: string, minLength: 1, maxLength: 100 }
        expires_at: { type: integer, nullable: true }
        last_used_at: { type: integer, nullable: true }
        created_at: { type: integer }
    ApiKeyCreated:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          properties:
            key: { type: string, description: Raw API key — shown only once, at creation time. }
    Error:
      type: object
      properties:
        error: { type: string }
    EffectiveLimit:
      type: object
      required: [appId, limitType, limitValue, currentValue, remaining, maximumValue, daily]
      properties:
        appId: { type: string }
        limitType:
          type: string
          enum: [emails_per_day, mail_templates, mail_webhooks, hme_aliases, verified_resources, verification_attempts_per_day, api_keys]
        limitValue: { type: integer, minimum: 1 }
        currentValue: { type: integer, minimum: 0 }
        remaining: { type: integer, minimum: 0 }
        maximumValue: { type: integer, minimum: 1 }
        daily: { type: boolean }
security:
  - clerkSession: []
paths:
  /health:
    get:
      tags: [Default]
      summary: Health check
      description: Returns the current availability of the Keys API.
      operationId: getKeysHealth
      security: []
      responses:
        "200": { description: OK }
  /me:
    get:
      tags: [Self-service]
      summary: Get own user profile
      description: Returns the profile of the currently signed-in user.
      operationId: getMe
      responses:
        "200": { description: OK }
  /me/api-keys:
    get:
      tags: [Self-service]
      summary: List own API keys
      description: Lists API keys owned by the currently signed-in user.
      operationId: getMeApiKeys
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/ApiKey' } } } } }
    post:
      tags: [Self-service]
      summary: Create an API key for yourself (scopes limited to what your policy already grants)
      operationId: postMeApiKeys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, scopes]
              properties:
                appId: { type: string, minLength: 1, maxLength: 100 }
                name: { type: string, minLength: 1, maxLength: 100 }
                description: { type: string, maxLength: 2000 }
                scopes:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items: { type: string, minLength: 1, maxLength: 100 }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/ApiKeyCreated' } } } }
        "403": { description: None of the requested scopes are allowed by your policy, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        "429": { description: API-key storage or daily creation limit exceeded, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
  /me/api-keys/{keyId}:
    delete:
      tags: [Self-service]
      summary: Revoke one of your own API keys
      operationId: deleteMeApiKeysKeyid
      parameters:
        - { name: keyId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }
  /me/limit-increase-requests:
    get:
      tags: [Self-service]
      summary: List your own limit increase requests
      operationId: getMeLimitIncreaseRequests
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK }
    post:
      tags: [Self-service]
      summary: Request a usage limit increase
      operationId: postMeLimitIncreaseRequests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, limitType, requestedValue]
              properties:
                appId: { type: string, minLength: 1, maxLength: 100 }
                limitType:
                  type: string
                  enum: [emails_per_day, mail_templates, mail_webhooks, hme_aliases, verified_resources, verification_attempts_per_day, api_keys]
                requestedValue: { type: integer, minimum: 1 }
                reason: { type: string, maxLength: 2000 }
      responses:
        "201": { description: Created }
        "409": { description: A pending request already exists for this limit type }
        "429": { description: Five pending requests or the daily request-creation limit has been reached }

  /me/limits:
    get:
      tags: [Self-service]
      summary: List effective usage limits
      description: Returns effective limits, current usage, and remaining capacity.
      operationId: getMeLimits
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/EffectiveLimit' }
