openapi: 3.0.3
info:
  title: Kitsos Verify API
  summary: Verify ownership of resources before granting access.
  description: >
    Resource ownership verification (DNS-TXT or magic link) — the gate
    before any resource_grants row gets created. Every route except
    the health check and the magic-link confirm endpoint requires a
    Clerk session (no API-key auth path — verification is a human,
    in-browser action). Magic links are sent only to the email address
    being verified and expire after 30 minutes; DNS challenges expire
    after 24 hours.
  version: "1.0.0"
  contact: { name: Kitsos Support, url: "https://kitsos.net/contact", email: support@services.kitsos.net }
  license: { name: Proprietary, url: "https://kitsos.net/terms" }
servers:
  - url: https://verify.api.kitsos.net/v1
    description: Production
externalDocs: { description: Kitsos API documentation, url: "https://docs.api.kitsos.net" }
tags:
  - name: Default
  - name: User
  - name: Admin

components:
  parameters:
    PageLimit:
      name: limit
      in: query
      schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
    PageOffset:
      name: offset
      in: query
      schema: { type: integer, default: 0, minimum: 0, maximum: 100000 }
  securitySchemes:
    clerkSession:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ResourceVerification:
      type: object
      properties:
        id: { type: string }
        app_id: { type: string }
        resource_type: { type: string }
        value: { type: string, maxLength: 320 }
        method: { type: string, enum: [dns_txt, magic_link] }
        verified_at: { type: integer, nullable: true }
        reverify_due_at: { type: integer, nullable: true }
        grace_expires_at: { type: integer, nullable: true }
    Error:
      type: object
      properties:
        error: { type: string }

security:
  - clerkSession: []

paths:
  /health:
    get:
      tags: [Default]
      summary: Health check
      operationId: getVerifyHealth
      security: []
      responses:
        "200": { description: OK }

  /resources:
    get:
      tags: [User]
      summary: List your own resources and their verification status
      operationId: getResources
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/ResourceVerification' } }
    post:
      tags: [User]
      summary: Register a resource and start a verification attempt
      operationId: postResources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, resourceType, value, method, scopes]
              properties:
                appId: { type: string, minLength: 1, maxLength: 63 }
                resourceType: { type: string, minLength: 1, maxLength: 64, example: zone }
                value: { type: string, minLength: 1, maxLength: 320, example: domain.de }
                method: { type: string, enum: [dns_txt, magic_link] }
                scopes: { type: array, minItems: 1, maxItems: 100, items: { type: string, minLength: 1, maxLength: 100 } }
      responses:
        "201":
          description: >
            For dns_txt: returns the TXT record name/value to add.
            For magic_link: sends the confirm email and returns whether it was sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceId: { type: string }
                  verificationId: { type: string }
                  instructions:
                    type: object
                    nullable: true
                    properties:
                      record: { type: string }
                      type: { type: string, enum: [TXT] }
                      value: { type: string }
                  emailSent: { type: boolean, nullable: true }
        "400": { description: Invalid resource, method, or scope }
        "429": { description: Verification-attempt or verified-resource limit exceeded }
        "502": { description: Verification email could not be sent }

  /resources/{resourceId}/check-dns:
    post:
      tags: [User]
      summary: Check a pending DNS-TXT verification via Cloudflare DoH; creates the resource_grants row on success
      operationId: postResourceCheckDns
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Result of the check (verified true/false)
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified: { type: boolean }
                  expected: { type: string, nullable: true }
                  found: { type: array, items: { type: string }, nullable: true }
        "404":
          description: No pending DNS verification for this resource
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "410":
          description: Verification attempt expired during confirmation
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /resources/{resourceId}/confirm:
    get:
      tags: [Default]
      summary: Confirm a magic-link verification (public — the token itself is the credential, no Clerk session required)
      operationId: getResourceConfirm
      security: []
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
        - { name: token, in: query, required: true, schema: { type: string, minLength: 1, maxLength: 128 } }
      responses:
        "200":
          description: Verified — resource_grants row created
        "404":
          description: Invalid, expired, or already-used token
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /admin/resources:
    get:
      tags: [Admin]
      summary: List all resources across all users (admin only)
      operationId: getAdminResources
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK }

  /admin/resources/{resourceId}:
    delete:
      tags: [Admin]
      summary: Delete a resource and its verifications/grants (admin only)
      operationId: deleteAdminResource
      parameters:
        - { name: resourceId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }
