openapi: 3.0.3
info:
  title: Kitsos Mail API
  description: >
    Email sending — manual or template-based (POST /send), plus
    user-managed webhooks with dot-notation payload → template
    variable mapping. Webhook triggers are public, gated by a
    per-webhook secret header rather than @kitsos/auth. Send bodies are
    limited to 4 MiB; metadata bodies to 64 KiB; webhook payloads to
    256 KiB. POST /messages creates durable asynchronous jobs with a required
    Idempotency-Key. Provider acceptance is distinct from confirmed delivery.
    Legacy /send and /webhook remain synchronous.
  version: "1.1.0"
servers:
  - url: https://mail.api.kitsos.net/v1

components:
  parameters:
    PageLimit:
      name: limit
      in: query
      schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
    PageOffset:
      name: offset
      in: query
      schema: { type: integer, default: 0, minimum: 0, maximum: 100000 }
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: kitsos_... API key or Clerk session with a policy granting mail:send or mail:manage. Webhook creation and modification require both.
    webhookSecret:
      type: apiKey
      in: header
      name: X-Webhook-Secret
      description: Per-webhook secret, returned once at webhook creation.
  schemas:
    MessageInput:
      type: object
      required: [from, to, subject]
      properties:
        from: { type: string, format: email, maxLength: 320 }
        to: { type: array, minItems: 1, maxItems: 50, items: { type: string, format: email } }
        subject: { type: string, minLength: 1, maxLength: 998 }
        template: { type: string, maxLength: 100 }
        data: { type: object, maxProperties: 200, additionalProperties: { type: string, maxLength: 65536 } }
        html: { type: string, maxLength: 3145728 }
        text: { type: string, maxLength: 3145728 }
      description: >
        Requires a template or nonempty html/text. A template replaces html;
        explicit text is preserved. Every declared variable and HTML placeholder
        requires a nonblank string. Sender must be verified. Duplicate recipients
        are normalized and deduplicated. Rendered serialized payload is limited to 4 MiB.
    Message:
      type: object
      properties:
        id: { type: string, format: uuid }
        status: { type: string, enum: [queued, sending, accepted, delivered, failed, unknown] }
        attempts: { type: integer }
        retries: { type: integer, maximum: 1 }
        recipientCount: { type: integer }
        provider: { type: string, enum: [brevo] }
        providerMessageId: { type: string, nullable: true }
        error: { type: string, nullable: true }
        createdAt: { type: integer, description: Unix seconds }
        updatedAt: { type: integer, description: Unix seconds }
        expiresAt: { type: integer, description: Unix seconds, seven days after creation }
        nextAttemptAt: { type: integer, nullable: true }
        retryable: { type: boolean }
      description: >
        accepted means provider acceptance only. delivered requires a delivery
        callback for every recipient. failed can include partial recipient
        failure; query /deliveries for details. unknown means submission may have
        succeeded; automatic and manual retries are blocked after the safe window.
    Delivery:
      type: object
      properties:
        recipient: { type: string, format: email }
        status: { type: string, enum: [pending, deferred, delivered, failed] }
        eventAt: { type: integer, description: Provider event time in Unix seconds; 0 until first callback }
    Template:
      type: object
      properties:
        id: { type: string }
        name: { type: string, maxLength: 100 }
        url: { type: string, format: uri, maxLength: 2048, description: "Public HTTPS HTML URL, fetched with a 5-second timeout and 3 MiB limit, no redirects, cached 1h" }
        variables: { type: array, maxItems: 100, items: { type: string, maxLength: 100 } }
    Webhook:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        template_id: { type: string }
        from_address: { type: string }
        to_addresses: { type: array, items: { type: string } }
        mapping: { type: object, additionalProperties: { type: string } }
    Error:
      type: object
      properties:
        error: { type: string }
        message: { type: string, description: Present for errors such as an expired API key. }

paths:
  /messages:
    post:
      summary: Queue a message durably (mail:send)
      security: [{ apiKey: [] }]
      description: >
        Reserves the shared daily recipient quota atomically once. An identical
        normalized request with the same key returns the existing job for its
        seven-day retention period; a different body returns 409. Retries do not
        consume additional recipient quota. Templates are frozen at creation.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, minLength: 1, maxLength: 128, pattern: '^[!-~]+$' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MessageInput' }
      responses:
        '202':
          description: Durable job created, not yet sent
          headers:
            Location: { schema: { type: string } }
            Idempotency-Replayed: { schema: { type: string, enum: ['false'] } }
          content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } }
        '200':
          description: Existing job returned without sending again
          headers:
            Idempotency-Replayed: { schema: { type: string, enum: ['true'] } }
          content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } }
        '400': { description: Invalid body/key or missing template variables }
        '401': { description: Authentication required }
        '403': { description: Missing scope or sender grant }
        '404': { description: Template not owned or not found }
        '409': { description: Idempotency key reused with a different body }
        '413': { description: Request or rendered message exceeds 4 MiB }
        '429': { description: Rate limit, daily quota, 1000 stored jobs or 16 MiB retained payload budget exceeded }
        '502': { description: Template source unavailable }
    get:
      summary: List own jobs, including dead letters (mail:read)
      security: [{ apiKey: [] }]
      parameters:
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
        - { name: offset, in: query, schema: { type: integer, minimum: 0, maximum: 100000, default: 0 } }
        - { name: status, in: query, schema: { type: string, enum: [queued, sending, accepted, delivered, failed, unknown] } }
      responses:
        '200':
          description: Jobs ordered by creation descending, then ID
          content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Message' } } } }
        '400': { description: Invalid pagination or status }
        '401': { description: Authentication required }
        '403': { description: Missing read scope }
  /messages/{id}:
    get:
      summary: Read an own message status (mail:read)
      security: [{ apiKey: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Current status without subject or body
          content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } }
        '401': { description: Authentication required }
        '403': { description: Missing read scope }
        '404': { description: Job not owned or not found }
  /messages/{id}/retry:
    post:
      summary: Retry a definitively rejected own job once (mail:send)
      security: [{ apiKey: [] }]
      description: >
        Rechecks sender ownership. Only a failed, unambiguous job with retained
        payload and no provider delivery events is eligible. One manual retry
        cycle, maximum ten provider attempts in total. Accepted, delivered,
        unknown and partially delivered messages cannot be resent.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '202':
          description: Job requeued
          content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } }
        '401': { description: Authentication required }
        '403': { description: Missing send scope or sender grant }
        '404': { description: Job not owned or not found }
        '409': { description: Job is not safely retryable }
  /deliveries:
    get:
      summary: Read recipient delivery status for an own message (mail:read)
      security: [{ apiKey: [] }]
      parameters:
        - { name: messageId, in: query, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Up to 50 recipient results
          content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Delivery' } } } }
        '400': { description: Missing messageId }
        '401': { description: Authentication required }
        '403': { description: Missing read scope }
        '404': { description: Job not owned or not found }
  /provider-webhooks/brevo:
    post:
      summary: Provider delivery callback (separate operator-managed secret)
      description: >
        Configure Brevo's X-Webhook-Secret with BREVO_WEBHOOK_SECRET (32+ random
        characters). Accepts single transactional events, at most 64 KiB.
        Matches job tag or provider message-id and an existing recipient.
        Duplicate and late nonterminal callbacks do not regress terminal states.
        Open/click events are ignored. This is not a user-configurable callback URL.
      security: [{ webhookSecret: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event, email, ts_event, message-id]
              properties:
                event: { type: string }
                email: { type: string, format: email }
                ts_event: { type: integer }
                message-id: { type: string, maxLength: 500 }
                tags: { type: array, items: { type: string } }
      responses:
        '204': { description: Applied, duplicate, unrelated or ignored tracking event }
        '400': { description: Malformed event }
        '401': { description: Wrong callback secret }
        '413': { description: Callback exceeds 64 KiB }
        '503': { description: Callback secret has not been configured }
  /health:
    get:
      summary: Health check
      responses:
        "200": { description: OK }

  /send:
    post:
      summary: Send an email, manually or via a saved template
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from, to, subject]
              properties:
                from: { type: string, format: email, maxLength: 320, description: "Must be an explicitly verified email_address or an address at an exactly matching verified zone owned by this user" }
                to: { type: array, minItems: 1, maxItems: 50, items: { type: string, format: email, maxLength: 320 } }
                subject: { type: string, maxLength: 998 }
                template: { type: string, maxLength: 100, description: "Template id; replaces html, preserves explicit text. Declared variables and placeholders must have nonblank values." }
                data: { type: object, maxProperties: 200, additionalProperties: { type: string, maxLength: 65536 } }
                html: { type: string, maxLength: 3145728 }
                text: { type: string, maxLength: 3145728 }
      responses:
        "200": { description: Accepted by provider; response remains sent=true for compatibility }
        "400": { description: Invalid body or missing template variables }
        "403":
          description: from address not granted
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429":
          description: Rate or shared daily recipient limit exceeded
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /webhook/{webhookId}:
    post:
      summary: Trigger a webhook — renders its template with the mapped payload and sends
      security: [{ webhookSecret: [] }]
      parameters:
        - { name: webhookId, in: path, required: true, schema: { type: string } }
      requestBody:
        description: Arbitrary JSON payload, resolved against the webhook's dot-notation mapping
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: Sent }
        "401":
          description: Missing or invalid X-Webhook-Secret
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429":
          description: Daily email limit exceeded for this webhook's owner
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /templates:
    get:
      summary: List your own templates
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Template' } } } } }
    post:
      summary: Create a template
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, url, variables]
              properties:
                name: { type: string, maxLength: 100 }
                url: { type: string, format: uri, maxLength: 2048 }
                variables: { type: array, maxItems: 100, items: { type: string, maxLength: 100 } }
      responses:
        "201": { description: Created }
        "429": { description: Stored-template or hard creation-churn limit exceeded }

  /templates/{templateId}:
    patch:
      summary: Update a template's URL or variables (invalidates the 1h HTML cache)
      security: [{ apiKey: [] }]
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url: { type: string, format: uri, maxLength: 2048 }
                variables: { type: array, maxItems: 100, items: { type: string, maxLength: 100 } }
      responses:
        "204": { description: No Content }
    delete:
      summary: Delete a template
      security: [{ apiKey: [] }]
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }

  /webhooks:
    get:
      summary: List your own webhooks (secret never included)
      security: [{ apiKey: [] }]
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Webhook' } } } } }
    post:
      summary: Create a webhook (returns the secret once)
      security: [{ apiKey: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, templateId, fromAddress, toAddresses, mapping]
              properties:
                name: { type: string, maxLength: 100 }
                templateId: { type: string, maxLength: 100 }
                fromAddress: { type: string, format: email, maxLength: 320, description: "Must be an explicitly verified email_address or an address at an exactly matching verified zone" }
                toAddresses: { type: array, minItems: 1, maxItems: 50, items: { type: string, format: email, maxLength: 320 } }
                mapping: { type: object, maxProperties: 200, additionalProperties: { type: string, maxLength: 500 }, description: "{templateVar: 'dot.path.in.payload'}" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  secret: { type: string, description: "shown only here" }
                  url: { type: string }
        "403":
          description: fromAddress not granted
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "429": { description: Stored-webhook or hard creation-churn limit exceeded }

  /webhooks/{webhookId}:
    patch:
      summary: Update a webhook's template, addresses, or mapping; ownership and sender grant are revalidated
      security: [{ apiKey: [] }]
      parameters:
        - { name: webhookId, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                templateId: { type: string, maxLength: 100 }
                fromAddress: { type: string, format: email, maxLength: 320 }
                toAddresses: { type: array, minItems: 1, maxItems: 50, items: { type: string, format: email, maxLength: 320 } }
                mapping: { type: object, maxProperties: 200, additionalProperties: { type: string, maxLength: 500 } }
      responses:
        "204": { description: No Content }
        "403":
          description: New fromAddress is not currently granted
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        "404":
          description: Webhook or caller-owned template not found
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    delete:
      summary: Delete a webhook
      security: [{ apiKey: [] }]
      parameters:
        - { name: webhookId, in: path, required: true, schema: { type: string } }
      responses:
        "204": { description: No Content }
