openapi: 3.0.3
info:
  title: Kitsos Hide My Email API
  summary: Create and manage protected forwarding aliases.
  description: >
    Create and manage random forwarding aliases at hme.kitsos.net.
    A forwarding destination must first be verified as an email_address
    resource grant with the hme:receive scope. After that, Kitsos asks
    Cloudflare Email Routing to send a separate forwarding confirmation to the
    destination. The recipient confirms that email before aliases can use it;
    no Cloudflare account is required.
  version: "1.0.1"
  contact: { name: Kitsos Support, url: "https://kitsos.net/contact", email: support@services.kitsos.net }
  license: { name: Proprietary, url: "https://kitsos.net/terms" }
servers:
  - url: https://hme.api.kitsos.net/v1
    description: Production
externalDocs: { description: Kitsos API documentation, url: "https://docs.api.kitsos.net" }

tags:
  - name: Default
    description: Service availability.
  - name: Aliases
    description: Manage your Hide My Email forwarding aliases.
  - name: Destinations
    description: Request and check Cloudflare forwarding confirmations.

components:
  parameters:
    PageLimit:
      name: limit
      in: query
      schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
    PageOffset:
      name: offset
      in: query
      schema: { type: integer, default: 0, minimum: 0, maximum: 100000 }
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: A kitsos_... API key with the hme:manage scope.
  schemas:
    Alias:
      type: object
      required: [id, alias, domain, forward_to, status, emails_forwarded, created_at]
      properties:
        id:
          type: string
          format: uuid
        alias:
          type: string
          description: Local part of the generated HME email address.
          example: house.exclusive.15
        domain:
          type: string
          example: hme.kitsos.net
        forward_to:
          type: string
          format: email
          maxLength: 320
        label:
          type: string
          nullable: true
          maxLength: 200
          example: Newsletters
        status:
          type: string
          enum: [active, disabled]
        emails_forwarded:
          type: integer
          minimum: 0
        last_forwarded_at:
          type: integer
          format: int64
          nullable: true
          description: Unix timestamp of the last successful forward.
        created_at:
          type: integer
          format: int64
          description: Unix timestamp of creation.
    CreateAliasRequest:
      type: object
      required: [forwardTo]
      properties:
        forwardTo:
          type: string
          format: email
          maxLength: 90
          description: A Kitsos-verified email_address resource grant with hme:receive scope and a confirmed Cloudflare forwarding destination.
        label:
          type: string
          nullable: true
          maxLength: 200
          example: Newsletters
    CreateAliasResponse:
      type: object
      required: [id, email, forwardTo]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
          example: house.exclusive.15@hme.kitsos.net
        forwardTo:
          type: string
          format: email
    UpdateAliasRequest:
      type: object
      minProperties: 1
      properties:
        status:
          type: string
          enum: [active, disabled]
        label:
          type: string
          nullable: true
          maxLength: 200
        forwardTo:
          type: string
          format: email
          maxLength: 90
          description: A Kitsos-verified email_address resource grant with hme:receive scope and a confirmed Cloudflare forwarding destination.
    DestinationRequest:
      type: object
      required: [forwardTo]
      properties:
        forwardTo:
          type: string
          format: email
          maxLength: 90
          description: A Kitsos-verified email address. Cloudflare sends its confirmation directly to this address.
    Destination:
      type: object
      required: [email, status]
      properties:
        email: { type: string, format: email }
        status: { type: string, enum: [pending, verified] }
        confirmationEmailSent: { type: boolean }
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: forbidden
  responses:
    Unauthorized:
      description: Missing, invalid, or insufficiently scoped API key.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: The API key is not permitted to access this resource.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

security:
  - apiKey: []

paths:
  /health:
    get:
      tags: [Default]
      summary: Health check
      operationId: getHmeHealth
      security: []
      responses:
        "200":
          description: Service is operational.
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, example: true }

  /aliases:
    get:
      tags: [Aliases]
      summary: List your aliases
      operationId: getAliases
      parameters:
        - { $ref: '#/components/parameters/PageLimit' }
        - { $ref: '#/components/parameters/PageOffset' }
      responses:
        "200":
          description: Aliases owned by the authenticated API-key user, newest first.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Alias' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Aliases]
      summary: Create a random forwarding alias
      operationId: postAliases
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateAliasRequest' }
      responses:
        "201":
          description: Alias created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreateAliasResponse' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403":
          description: The forwarding destination is not granted for hme:receive, or Cloudflare's confirmation has not completed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "413": { description: Request body exceeds 64 KiB. }
        "429": { description: Alias storage or daily creation limit exceeded. }
        "500":
          description: A unique alias could not be generated after several attempts.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /aliases/{aliasId}:
    parameters:
      - name: aliasId
        in: path
        required: true
        description: Alias UUID.
        schema: { type: string, format: uuid }
    patch:
      tags: [Aliases]
      summary: Update an alias
      operationId: patchAlias
      description: Enable or disable an alias, change its label, or change its forwarding destination.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateAliasRequest' }
      responses:
        "204": { description: Alias updated, or no fields were supplied. }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403":
          description: The new forwarding destination is not granted for hme:receive, or Cloudflare's confirmation has not completed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [Aliases]
      summary: Delete an alias
      operationId: deleteAlias
      responses:
        "204": { description: Alias deleted. }
        "401": { $ref: '#/components/responses/Unauthorized' }

  /destinations:
    get:
      tags: [Destinations]
      summary: List your forwarding destinations
      operationId: getDestinations
      responses:
        "200":
          description: The authenticated user's Kitsos-verified destination addresses and Cloudflare confirmation state.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Destination' }
        "401": { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Destinations]
      summary: Request a Cloudflare forwarding confirmation
      operationId: postDestinations
      description: Cloudflare sends its confirmation email directly to forwardTo. A Cloudflare account is not required.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DestinationRequest' }
      responses:
        "200":
          description: Destination already exists; its current confirmation state is returned.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Destination' }
        "201":
          description: Destination created. Cloudflare sent a confirmation email when status is pending.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Destination' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { description: The address does not have the caller's verified hme:receive resource grant. }
        "502": { description: Cloudflare could not create or look up the destination. }

  /destinations/check:
    post:
      tags: [Destinations]
      summary: Refresh a Cloudflare confirmation state
      operationId: postDestinationCheck
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DestinationRequest' }
      responses:
        "200":
          description: Current Cloudflare destination confirmation state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Destination' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { description: The address does not have the caller's verified hme:receive resource grant. }
        "502": { description: Cloudflare could not check the destination. }
